<h1 class="mt-5 d-flex justify-content-center">New mission</h1>

<%= render "form", mission: @mission %>

<br>

<div>
  <%= link_to "Back to missions", missions_path, class:"btn btn-primary mx-3" %>
</div>
